<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Title</title>
</head>
<body>

    <div class="container justify-content-lg-center">
        <div> <p class="h3"> SIMPLE BRD </p></div>
 
        <div class="row">


            <div align = right>
                <button type="button" name="commit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#writeModal">
                    <i class="fa fa-pencil" aria-hidden="true"> write</i>
                </button>
                <button type="button" name="commit" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#login">
                    Login/Signup
                </button>

 
          </div>
          <div class="col-4 justify-content-sm-start">
            <!-- required bootstrap js -->

            
            <!--  -->
          </div>
        </div>


        <table class="table table-hover">
            <thead class="table-dark" align="center">
                <tr>
                    <th>no</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>글쓴일짜</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
      </div>
       <%include ./modal/index%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
</html>