<div>
    <div class="form-group">
      <label for="">Title</label>
      <input type="text"
        class="form-control" name="" id="" aria-describedby="" placeholder="TITLE">
          <label for=""></label>
          <textarea class="form-control" name="" id="" rows="3"></textarea>
    </div>
</div>