<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="article_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="article_content">


        </div>
    </div>
</div>

